{% extends "base.html" %}


{% block content %}
<form method="post" action=".">
<div>
{% load forms %}
{% if form.errors  or form.non_field_errors %}
	<p class="errornote">Please correct the error{{ form.errors|pluralize }} below.</p>
{% endif %}
<fieldset class="module aligned ()">
<h2>Showstart</h2>
{% formfield form.server %}
{% formfield form.procs %}
{% formfield form.time %}
</fieldset>
<div class="submit-row">
		<input type="submit" value="Save" class="default" />
	</div>
</form>

{{ result }}
{% endblock %}